<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>

<center>
        <form action="/signup" method="POST">
            Your email:<br>
            <input type="text" name="email" placeholder="Please enter your email">
            <br>
            Password:<br>
            <input type="text" name="password" placeholder="Please enter your password">
            <br><br>
            <input type="submit" value="Signup">
        </form> 
        <br>
         
        <form action="/login" method="POST">
          
            <input type="submit" value="Login">
        </form> 
</center>
    
</body>
</html>